@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.clip-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.slick-slider,
.slick-list,
.slick-list .slick-track,
.slick-list .slick-track .slick-slide > div {
  height: 100%;
}

.slick-arrow {
  padding: 5px;
  position: absolute;
  top: 15px;
  z-index: 10;
}

.slick-image-block {
  height: 100%;
}

.slick-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
}
