html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.fa-icon {
  font-size: 1.58em;
}

.clip-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  width: 100%;
  height: 100%;
}

.swiper {
  height: 100%;
}

.swiper-image-block {
  height: 100%;
}

.swiper-main-image {
  width: 100%;
  height: calc(100% - 52px) !important;
  object-fit: fill;
}

.swiper-header {
  width: 100%;
  height: 100%;
  font-size: 1.23em;
  font-weight: bold;
  color: midnightblue;
}

.swiper-header-left-pane {
  position: absolute;
  top: 10px;
  left: 15px;
}

.swiper-header-right-pane {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
}

.swiper-thumb-container {
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0px;
  overflow: visible;
}

.swiper-thumb-slide {
  width: 80px;
  height: 50px;
}

.swiper-thumb-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.swiper-slide-thumb-active > img {
  border: 3px solid transparent;
  box-sizing: border-box;
  border-color: darkorange;
  flex-shrink: 0 !important;
}
