html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.clip-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper {
  height: 100%;
}

.swiper-slide-thumb-active {
  border: 3px solid darkorange;
}

.swiper-image-block {
  height: 100%;
}

.swiper-thumb-slide {
  width: 80px;
  height: 50px;
}

.swiper-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
}

.swiper-header {
  width: 100%;
  height: 100%;
  font-size: 1.23em;
  font-weight: bold;
  color: midnightblue;
}

.swiper-header-left-pane {
  position: absolute;
  top: 10px;
  left: 15px;
}

.swiper-header-right-pane {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
}
